<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  {{ partial "head.html" . }}
  
  <body>
    {{ if .IsHome }}
    {{ "<!-- header -->" | safeHTML }}
    <!-- <header class="banner overlay bg-cover" data-background="{{ .Site.Params.banner.bg_image | absURL }}"> -->
    <header id="nav-header" class="fixed-top banner" >
      {{ partial "navigation.html" . }}
      <!-- {{ partial "banner.html" . }} -->
    </header>
    {{ "<!-- /header -->" | safeHTML }}
    {{ else }}
    {{ "<!-- header -->" | safeHTML }}
    <header class="shadow-bottom sticky-top bg-white">
      {{ partial "navigation.html" . }}
    </header>
    {{ "<!-- /header -->" | safeHTML }}
    {{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>

</html>