body {
  line-height: 1.5;
  font-family: var(--font-family), sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  color: var(--text-color);
  background-color: var(--body-color);
}

P {
  color: var(--text-color);
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-dark);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
h1.thin,
h2.thin,
h3.thin,
h4.thin,
h5.thin,
h6.thin {
  color: var(--text-color-dark);
  font-family: var(--font-family), sans-serif;
  font-weight: lighter;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 45px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 26px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 14px;
}

/* Button style */
.btn {
  font-size: 14px;
  font-family: var(--font-family), sans-serif;
  text-transform: uppercase;
  padding: 16px 44px;
  border-radius: 0px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--white-color);
}

.btn-primary:active {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.inline-button {
  line-height: .8rem !important;
  padding: 5px 8px !important;
  pointer-events: none;
  margin-top: -5px;
}

.overflow-hidden {
  overflow: hidden !important;
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--white-color);
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-color);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0;
}

ol {
  padding-left: 20px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover,
a:focus {
  color: var(--primary-color);
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 768px) {
  .section {
    padding-top: 60px;
  }
}

.section-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .section-sm {
    padding-top: 40px;
  }
}

.section-title {
  margin-bottom: 40px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: #f2f2f2 !important;
}

pre {
  padding: 20px;
  border-radius: 2px;
}

/* overlay */
.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--primary-color);
  opacity: .8;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.tab-link{
  cursor: pointer;
}

.tab-link:hover{
  background: var(--primary-color) !important;
  opacity:.9;
}

.opacity {
  position: relative;
}

.opacity::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #0f0f0f;
  opacity: .8;
}

.bg-primary {
  background: var(--primary-color) !important;
}

.bg-primary-medium {
  background: var(--primary-color) !important;
  opacity:.9;
}

.bg-primary-light {
  background: var(--primary-color) !important;
  opacity:.8;
}

.bg-white {
  background-color: var(--white-color) !important;
}

.bg-light {
  background-color: var(--light-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.text-dark {
  color: var(--text-color-dark) !important;
}

.text-white {
  color: var(--white-color) !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

header.sticky-top {
  z-index: 9999;
}

.zindex-1 {
  z-index: 1;
}

.top-100 {
  top: 100px;
}

.navbar {
  padding: 0;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 0;
  }
}

.navbar-brand img {
  max-width: 100px;
  margin-bottom: 0;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  padding: 10px 15px !important;
  font-size: 15px;
}

.navbar .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar .dropdown-menu {
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
  padding: 15px;
  border: 0;
  top: 40px;
  left: -25px;
  border-radius: 0;
  display: block;
  visibility: hidden;
  transition: .3s ease;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  background: var(--white-color);
}

@media (max-width: 768px) {
  .navbar .dropdown-menu {
    display: none;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: unset;
    transform-origin: unset;
  }
}

.navbar .dropdown-menu.view {
  visibility: visible !important;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
}

@media (max-width: 768px) {
  .navbar .dropdown-menu.view {
    display: block;
  }
}

.navbar .dropdown-menu.show {
  visibility: hidden;
}

@media (max-width: 768px) {
  .navbar .dropdown-menu.show {
    visibility: visible;
    display: block;
  }
}

.navbar .dropdown-item {
  position: relative;
  color: var(--text-color-dark);
  transition: .2s ease;
  font-family: var(--font-family), sans-serif;
}

@media (max-width: 768px) {
  .navbar .dropdown-item {
    text-align: center;
  }
}

.navbar .dropdown-item:hover {
  color: var(--primary-color);
  background: transparent;
}

.lang-list {
  background: transparent;
  color: var(--white-color);
}

.lang-list.dark {
  color: var(--text-color-dark);
}

.banner {
  overflow: hidden;
}

.banner p {
  font-size: 20px;
  opacity: .8;
}

.banner .nav-link.text-dark {
  color: var(--white-color) !important;
}

.banner .nav-link.text-dark:hover {
  color: var(--white-color) !important;
}

.banner .navbar-brand {
  color: var(--white-color) !important;
}

/* search */

#project-icon {
  float: left;
  height: 32px;
  width: 32px;
}

#project-description {
  margin: 0;
  padding: 0;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-menu {
  background: var(--white-color);
  padding: 5px 20px 20px;
  right: 0 !important;
  max-height: 200px;
  overflow: hidden;
  border-radius: 0 0 25px 25px;
  z-index: 9999;
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, .07)
}


@media (max-width: 575px) {
  .ui-menu {
    width: calc(100% - 30px) !important;
  }
}

@media (min-width: 576px) {
  .ui-menu {
    max-width: 510px !important;
  }
}

@media (min-width: 768px) {
  .ui-menu {
    max-width: 690px !important;
  }
}

@media (min-width: 992px) {
  .ui-menu {
    max-width: 610px !important;
  }
}

@media (min-width: 1200px) {
  .ui-menu {
    max-width: 730px !important;
  }
}

.ui-menu-item a {
  color: var(--text-color);
  padding: 8px 0;
  font-size: 15px;
}

.ui-menu-item a:hover{
  color: var(--primary-color);
}

.ui-menu-item:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

.ui-menu-item * {
  display: none;
}

.ui-menu-item .ui-corner-all {
  display: block;
}


/* /navigation */
.form-control {
  height: 50px;
  border-radius: 25px;
  border: 0;
  padding: 0 20px;
}

.form-control:focus {
  border: 0;
  box-shadow: none !important;
}

textarea.form-control {
  height: 150px;
  padding: 20px;
}

.icon {
  font-size: 40px;
}

.shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  transition: .3s ease;
}

.shadow-bottom {
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
}

.shadow:hover,
.shadow:focus {
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.1) !important;
}

/* single page */

.content * {
  margin-bottom: 20px;
}

.content img {
  max-width: 100%;
  height: auto;
  margin: 0 auto 15px;
  display: block;
  text-align: center;
}

.content ul {
  padding-left: 0;
  margin-bottom: 20px;
}

.content ul li {
  padding-left: 20px;
  position: relative;
}

.content ul li::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  opacity: .3;
  left: 0;
  top: 8px;
}

.list-styled li {
  padding-left: 20px;
  position: relative;
}

.list-styled li::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  opacity: .3;
  left: 0;
  top: 18px;
}

.post-meta {
  color: var(--text-color);
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}

blockquote {
  font-size: 20px !important;
  color: var(--text-color-dark);
  padding: 20px 40px;
  border-left: 2px solid var(--primary-color);
  margin: 40px 0;
  font-weight: bold;
  background: var(--light-color);
}

blockquote p {
  margin-bottom: 0 !important;
}

.pagination {
  justify-content: space-between;
}

.pagination a {
  color: var(--primary-color);
}

.pagination i {
  font-size: 15px;
  line-height: 1.8;
}

#accordion i {
  font-size: 14px;
  line-height: 2;
}

table {
  text-align: left;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
}

table td,
table th {
  padding: .75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
  margin-bottom: 0;
}

thead {
  background: #ececec;
  margin-bottom: 0;
}

tbody {
  background: #f8f8f8;
  margin-bottom: 0;
}

.notices {
  margin: 2rem 0;
  position: relative;
}

.notices p {
  padding: 10px;
}

.notices p::before {
  position: absolute;
  top: 2px;
  color: #fff;
  font-family: "themify";
  font-weight: 900;
  content: "\e717";
  left: 10px;
}

.notices.note p {
  border-top: 30px solid #6ab0de;
  background: #e7f2fa;
}

.notices.note p::after {
  content: 'Note';
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}


.notices.tip p {
  border-top: 30px solid #78C578;
  background: #E6F9E6;
}

.notices.tip p::after {
  content: 'Tip';
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

.notices.info p {
  border-top: 30px solid #F0B37E;
  background: #FFF2DB;
}

.notices.info p::after {
  content: 'Info';
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}


.notices.warning p {
  border-top: 30px solid #E06F6C;
  background: #FAE2E2;
}

.notices.warning p::after {
  content: 'Warning';
  position: absolute;
  top: 2px;
  color: #fff;
  left: 2rem;
}

/* buscador */


.res{
  background: var(--white-color);
  padding: 10px 30px 1px;
  right: 0 !important;
  max-height: 200px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .07);
  margin-left: 4%;

  padding-right: 10px;
}
.res>a>h3{
  font-family: sans-serif;
   font-size: 1em;
   text-align: left;
}
.res>a>p{
  font-family: sans-serif;
   font-size: 1em;
   text-align: left;
}

/* side list */
.sidelist {
  display: block;
}

li.sidelist>a {
  margin-left: 20px;
  margin-bottom: 10px;
  display: block;
}

li.sidelist li a {
  margin: 0;
}

.sidelist li.sidelist {
  display: block;
}

.sidelist li.sidelist.active a {
  color: var(--primary-color);
}

.page-list li a {
  display: none;
}

.page-list li ul a {
  display: block;
}

.sidelist li a {
  color: var(--text-color-dark);
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 0;
  line-height: 1.4;
}

p:empty,
p a:empty {
  display: none !important;
}

#body .nav-tabs {
  position: unset;
  width: unset;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-pane {
  padding: 3px 0px;
}

.tab-pane {
  padding: 3px 0px;
}

.tab-content>.active {
  display: block;
}

.nav-tabs {
  color: #0f0f0f;
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
}

.nav-tabs>li {
  color: #0f0f0f;
  float: left;
  padding: 0 !important;
}

.nav-tabs>li::before {
  display: none;
}

.nav-tabs>li>a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  margin-bottom: 0 !important;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0px 10px;
}

code {
  margin-bottom: 0 !important;
  font-size: 100%;
}

.code-tabs {
  margin: 10px 0px 0px 00px;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
  color: #000 !important;
  background: transparent;
}

.tab-content .nav-tabs {
  display: none !important;
}

.nav-tabs {
  padding-left: 0 !important;
}

.nav-tabs li {
  list-style-type: none;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px 4px 0 0;
  border-bottom: 0;
}

.tab-pane {
  border: 1px solid rgb(212, 212, 212);
  padding: 20px;
  background: rgb(253, 253, 253);
}

.back-btn {
  position: relative;
}

.back-btn::before {
  position: absolute;
  font-family: 'themify';
  content: "\e6bc";
  font-size: 25px;
  height: 30px;
  width: 50px;
  background: #fff;
  color: inherit;
  text-align: right;
  z-index: 1;
  left: -15px;
  top: -3px;
}

.ui-autocomplete-input {
  border-bottom: 1px solid rgb(212, 212, 212) !important;
}

.ui-autocomplete-input.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 14px;
}

.modal-video.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-video > .modal-content > .modal-body {
  position: relative;
  padding: 0px;
}
.modal-video.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}