{{ "<!-- banner -->" | safeHTML }}
<section class="banner overlay bg-cover" data-background="{{ .Site.Params.banner.bg_image | absURL }}"
	style="padding-top: 80px;">
	<div class="container section">
		<div class="row">
			<div class="col-lg-8 text-center mx-auto">
				<h1 class="text-white mb-3">{{ .Site.Params.banner.title | markdownify }}</h1>
				<p class="text-white mb-4">{{ .Site.Params.banner.subtitle | markdownify }}</p>
			
				<div class="position-relative box-shadow ">
					<input id="search" class="form-control" placeholder="{{ .Site.Params.banner.placeholder }}">
					<i class="ti-search search-icon"></i>
					<div id="results " style=" height:30vh;"></div>


						<script src=plugins/buscador/jquery.js></script>
						<script src="http://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.3.0/fuse.min.js"></script>
						<script src="plugins/buscador/search.js"></script>			
					
				
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /banner -->" | safeHTML }}