{{ with .Site.Data.cardstabs }}
{{ "<!-- card tabs -->" | safeHTML }}
<section class="section-sm">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12 text-center">
				<h1 class="mb-3">{{ .title | markdownify }}</h1>
				<h4 class="thin mb-5">{{ .subtitle | markdownify }}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<div class="mb-5 mb-lg-0 sticky-top top-100 overflow-hidden">
					{{ range .tabs}}
					<div class="border-top border-white {{ .bgcolor }} p-4 tab-link" id="{{ .id }}"
						onclick="showTabContent('{{.id}}')">
						<div class="text-white text-center">
							<h1><i class="{{ .icon }} text-white"></i></h1>
							{{ .title }}
						</div>
					</div>
					{{end}}
				</div>
			</div>
			<div class="col-lg-9">
				<div class="p-lg-5 p-4 bg-white">
					{{ range $index, $element := .tabs}}
					<!-- si es tipo contenido -->
					{{ if $element.content }}
					<div id="content_{{ $element.id }}" class="tabcontent"
						style="{{ if (ne $index 0) }}display: none;{{ end }} ">
						<h2 class="mb-5">{{ $element.content.title }}</h2>
						<div class="content">{{ $element.content.description }}</div>
					</div>
					{{ end }}
					<!-- /si es tipo contenido -->
					<!-- si es grid de tarjetas -->
					{{ if $element.cards }}
					<div id="content_{{ $element.id }}" class="tabcontent"
						style="{{ if (ne $index 0) }}display: none;{{ end }} ">
						{{ range $index, $card := $element.cards }}
						{{if not (modBool $index 2)}}
						<div class="row align-items-center">
							<div class="col-6">
								<img src="{{ .image | absURL }}" alt="">
							</div>
							<div class="col-6 text-center">
								<h3 class="mb-3 mt-0">{{ .title }}</h3>
								<p class="mb-0">{{ .description }}</p>
							</div>
						</div>
						{{else}}
						<div class="row align-items-center">
							<div class="col-6 text-center">
								<h3 class="mb-3 mt-0">{{ .title }}</h3>
								<p class="mb-0">{{ .description }}</p>
							</div>
							<div class="col-6">
								<img src="{{ .image | absURL }}" alt="">
							</div>
						</div>
						{{end}}

						{{ end }}
					</div>
					<!-- /si es grid de tarjetas -->
					{{ end }}
					{{end}}
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /card tabs -->" | safeHTML }}
{{ end }}