{{ with .Site.Data.cardssection }}
{{ "<!-- card -->" | safeHTML }}
<section class="section">
	<div class="container">
	  <div class="row justify-content-center">
		<div class="col-lg-12 text-center">
			<h1 class="mb-3">{{ .title | markdownify }}</h1>
			<h4 class="thin mb-5">{{ .subtitle | markdownify }}</h4>
		</div>
		{{ "<!-- topic-item -->" | safeHTML }}
		{{ range .cards }}
		<div class="col-lg-4 col-sm-6 mb-4">
		  <a href="{{ .link }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
			<i class="{{ .icon }} icon text-primary d-block mb-4"></i>
			<h3 class="mb-3 mt-0">{{ .title }}</h3>
			<p class="mb-0">{{ .description }}</p>
		  </a>
		</div>
		{{ end }}
	  </div>
	</div>
  </section>
{{ "<!-- /card -->" | safeHTML }}
{{ end }}