{{ "<!-- footer -->" | safeHTML }}
<footer class="section pb-0" >
  <div class="bg-primary pt-4">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-3 text-center">
          <img class="mb-3 img-fluid" src="{{ .Site.Params.logo | absURL }}" alt="" width="150px">
          <ul class="list-inline">
            {{ range .Site.Params.social }}
            <li class="list-inline-item "><a class="text-white d-inline-block pr-3" href="{{ .link | safeURL }}"><i
                  class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-3 text-center">
          <h5 class="text-white">Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">Cool stuff</a></li>
            <li><a class="text-white" href="#">Random feature</a></li>
            <li><a class="text-white" href="#">Team feature</a></li>
          </ul>
        </div>
        <div class="col-3 text-center">
          <h5 class="text-white">Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">Cool stuff</a></li>
            <li><a class="text-white" href="#">Random feature</a></li>
            <li><a class="text-white" href="#">Team feature</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-4 mt-3">
      <p class="mb-md-0 text-white"><b>{{ .Site.Params.copyright | markdownify }}</b></p>
    </div>
  </div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>