{{ define "main" }}

{{ partial "banner.html" . }}

<!-- topics -->
<!-- <section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1 class="section-title">{{ i18n "topics_title" | safeHTML }}</h1>
        <h3 class="thin text-white mb-4">{{ i18n "topics_subtitle" | safeHTML }}</h3>
      </div>
      {{ range (where .Site.Pages "Type" "docs") }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
          <i class="{{ .Params.Icon }} icon text-primary d-block mb-4"></i>
          <h3 class="mb-3 mt-0">{{ .Title }}</h3>
          <p class="mb-0">{{ .Params.Description }}</p>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section> -->
<!-- /topics -->

{{ partial "cards-section.html" . }}

{{ partial "cards-tabs.html" . }}

{{ with .Site.Params.video }}
{{ "<!-- section video -->" | safeHTML }}
<section class="section">
  <div class="banner opacity bg-cover" data-background="{{ .bg_image | absURL }}">
    <div class="container section">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h1 class="text-white mb-3">{{ .title | markdownify }}</h1>
          <h3 class="thin text-white mb-4">{{ .subtitle | markdownify }}</h3>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-light video-btn" data-toggle="modal"
            data-src="https://www.youtube.com/embed/iIOd2XxYV3o" data-target="#myModal">
            {{ .titleBtn }} <i class="ti-control-play"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-video modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">

          <button type="button" class="modal-video close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="" id="video"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>></iframe>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
{{ "<!-- /section video -->" | safeHTML }}
{{ end }}

{{ if .Site.Params.cta.enable }}
{{ with .Site.Params.cta }}
{{ "<!-- call to action -->" | safeHTML }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section px-3 bg-white shadow text-center">
          <h2 class="mb-4">{{ .title | markdownify }}</h2>
          <p class="mb-4">{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /call to action -->" | safeHTML }}
{{ end }}
{{ end }}

{{ end }}